<div id="clouds"></div>
<div id="content">
    {{> svg/c9Logo }}
    <div id="logo"></div>
    <div id="head">THIS BANNER IS WILL<br>BE REPLACED SHORTLY</div>
    <div id="sub">If you have any questions please contact us: info@cloudnine.de</div>
</div>