<!DOCTYPE html>
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="ad.size" content="width={{config.bannerWidth}}, height={{config.bannerHeight}}"/>

    <meta data-template-name='TechLab_HTML5_LocalConnect'>
    <meta data-template-name='TechLab_HTML5_ResponsiveAd'>

    <title>Banner</title>

    <script>
        window.c9Config = {{{feConfig}}};
        window.mainBundle = "{{mainBundle}}"
    </script>

</head>

<body>
