{{> head }}

<div id="banner" style="opacity: 0; visibility: hidden;">
  <ad-asset src="head" density="1"></ad-asset>

  <ad-asset src="product1" density="{{config.density}}"></ad-asset> 
  <ad-asset src="product2" density="{{config.density}}"></ad-asset> 
  <ad-asset src="product3" density="{{config.density}}"></ad-asset>

  <ad-asset src="intro" density="1"></ad-asset>
  <ad-asset src="teaser" density="1"></ad-asset>
  <ad-asset src="arrow" density="2"></ad-asset>
  <ad-asset src="btn" density="2"></ad-asset>
  <ad-asset src="footer" density="2"></ad-asset>
</div>

{{> hoster this }}
