{{> head }}

<div id="banner" style="opacity: 0; visibility: hidden;">
  <ad-scaling-box class="placeholder-cont" pin="cc" size="cover">
    <ad-asset src="placeholder" density="1"></ad-asset>    
  </ad-scaling-box>
</div>

{{> hoster this }}
