
#banner {
  // width: $bannerWidth * 1px;
  // height: $bannerHeight * 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#c9-logo {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

#image {
  width: 50%;
}
