ad-split-headline {
  display: block;
  position: relative;
  line-height: 1;

  .headline__text {
    display: block;
    position: relative;
    white-space: nowrap;
    backface-visibility: hidden;
  }

  .headline__line {
    overflow: hidden;
    position: absolute !important;
    left: 0;
    backface-visibility: hidden;
  }

  .headline__word {
    margin-bottom: 0.05em;
  }
}
