<!--CDN libs-->
<script src="https://s0.2mdn.net/ads/studio/cached_libs/gsap_3.11.5_min.js"></script>
<script src="https://s1.adform.net/banners/scripts/rmb/Adform.DHTML.js"></script>

<!--primary js file for loading es6 bundle-->
<script src='{{config.politeName}}.js' type='text/javascript'></script>

<!--js entry point and clicktag-->
<script>
    /**
    * This file is compatible with Adform
    */

    {{> testTag }}


    window.onload = function () {
        var bn = dhtml.getVar('bn', 0);
        if (bn){
            // when banner is served from tag
            dhtml.sharedEvents.once('pageLoadComplete', pageLoadedHandler);
            dhtml.external.initPoliteMode();

        }else{
            // when testing locally
            setTimeout(pageLoadedHandler, 1000);

        }

        if({{ config.setupClicktag }}) setupClickTag();

    };


    function setupClickTag(clickElement) {
        console.log("AdForm ClickTag");

        {{> clickSetup }}


        function onClick() {
            console.log("Adfrom Click");

            {{> exitEvent }}

            var clickTAGvalue       = dhtml.getVar('clickTAG', testTag);
            var landingpagetarget   = dhtml.getVar('landingPageTarget', '_blank');

            window.open(clickTAGvalue, landingpagetarget);

        };
    }


    function pageLoadedHandler() {
        {{#if config.responsive}}
             if (dhtml.external && dhtml.external.resize) dhtml.external.resize ('100%', '100%');
        {{/if}}

        loadMainJs();

    }

</script>

{{> isLocal }}

</body>
</html>
