
<!--CDN libs-->
<script src="https://s0.2mdn.net/ads/studio/cached_libs/gsap_3.11.5_min.js"></script>

<script src='{{config.politeName}}.js' type='text/javascript'></script>

<script>
  window.isLocal = function() {
    var regex = new RegExp(/(localhost:|local|lakito.de|file:|:8080|:5757|:8888)/);
    return regex.test(window.location.origin)
  };

  loadMainJs();
</script>

</body>
</html>
